#img{
    height: auto;
    width: 85%;
    border-width:3px;
    border-style:solid;
    box-shadow: 3px 3px rgb(117, 116, 116);
    background-color: white;
    margin: 5px;
    padding: 5px;
    float:left;
}
#imgHome{
    height: auto;
    width: 53%;
}
#text{
    margin-bottom: 2%;
    background-color: rgb(246, 247, 252);
    color: black;
    box-shadow: 3px 3px rgb(49, 49, 49);
}
a:visited{
    color:rgb(0, 132, 255);
}
a:link{
    color:rgb(0, 132, 255);
}
#colors{
    background-color: darkblue;
    color:white;
}
#typeSizing{
    height: auto;
    width: 30%;
}
li{
    list-style-type: none;
}